.app-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-content: stretch;

  .app-main {
    flex: 1;
    display: flex;
    flex-direction: row;
    z-index: 10;
    background-color: #fff;

    .app-content {
      flex: 1;
      padding: 2rem;
      padding-bottom: 0;

      .MuiContainer-root {
        padding: 0;
      }
    }
  }

  .app-header {
    // background-color: #fff;
    color: #006fab;
    box-shadow: none;

    .MuiToolbar-root {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid #c7c7c7;

      .header-title {
        flex: 8;
        font-size: 28px;
      }

      .profile {
        display: flex;
        flex-direction: row;
        flex-grow: 0.5;
      }

      .username-container {
        align-self: center;
        .username {
          color: #006fab;
          font-size: 15px;
          padding: 0 0.8rem;
        }
      }

      .icon-notification {
        border-right: 1px solid #c7c7c7;
      }
    }
  }
}

.traceable-table {
  table-layout: fixed;
}

.remove-ppading {
  padding: 0 !important;
}

.navigation-menu {
  display: flex;
}

.marvel-background {
  background-image: url('../../../assets/images/marvel-background.jpg');
  min-height: 100%;
  min-width: 1024px;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
  display: flex;
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  background-size: cover;
}
